<h1>Assignments</h1>

<table class="table">
  <thead>
    <tr>
      <th>S. No.</th>
      <th>Assignment Name</th>
      <th>No. of questions</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each_with_index do |assignment,index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.questions.count %></td>
        <td>
          <%= link_to 'Show', assignment %> | 
          <%= link_to 'Edit', edit_assignment_path(assignment) %> |
          <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
