<h2><%= @assignment.name %>
  <small><%= link_to 'Edit', edit_assignment_path(@assignment) %></small>
</h2>

<h2>Questions:</h2>
<%= link_to 'Add Question', new_question_path, class: 'pull-right' %>

<table class="table">
  <thead>
    <tr>
      <th>S. No.</th>
      <th>Title</th>
      <th>Option 1</th>
      <th>Option 2</th>
      <th>Option 3</th>
      <th>Option 4</th>
      <th>Correct answer</th>
    </tr>
  </thead>
  <tbody>
    <% @assignment.questions.each_with_index do |questions,index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= question.title %></td>
        <td><%= question.option_1 %></td>
        <td><%= question.option_2 %></td>
        <td><%= question.option_3 %></td>
        <td><%= question.option_4 %></td>
        <td><%= question.correct_answer %></td>
        <td>
          <%= link_to 'Show', question %> | 
          <%= link_to 'Edit', edit_question_path(question) %> |
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
