<%= form_for(user, url: url) do |f| %>
  <% if user &&  user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.email_field :email, autofocus: false, placeholder: 'Email', class: 'form-control' %>
  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password (Must be at least 6 characters)', class: 'form-control' %>
  
  <%= f.fields_for :profile, (f.object.profile || f.object.build_profile) do |ff| %>
    <%= ff.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
    <%= ff.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
    <%= ff.text_field :dob, class: 'form-control datepicker' %>
  <% end %>
  <br>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $(".datepicker").datepicker({maxDate: 0});
  });
</script>