<h1>Users</h1>


<table class="table">
  <thead>
    <tr>
      <th>Group</th>
      <th>First Name</th>
      <th>Lastname</th>
      <th>DOB</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= user.role_class %>">
        <td><%= user.group %></td>
        <td><%= user.profile.try(:first_name) %></td>
        <td><%= user.profile.try(:last_name) %></td>
        <td><%= user.profile.try(:formated_dob) %></td>
        <td><%= user.try(:email) %></td>
        <td>
          <%= link_to 'Show', admin_user_path(user) %> | 
          <%= link_to 'Edit', edit_admin_user_path(user) %> |
          <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Admin User', new_admin_user_path %>