<!DOCTYPE html>
<html>
  <head>
    <title>Assessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= render partial: 'common/header' %>
  </header>

  <body>
    <%= render partial: 'common/flash_msg' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer>
    <%= render partial: 'common/footer' %>
  </footer>
</html>
